.header {
	background-color: $bg-color-secondary;
	background-image: url(../image/fon-header.jpg);
	background-size: cover;
	padding-top: 30px;
	min-height: 800px;

	&__info {
		margin-top: 230px;
		color: $font-color-secondary;
		text-align: center;
		margin-bottom: 260px;
	}

	&__title {
		font-size: $h1-font-size;
		margin-bottom: 18px;
	}

	&__lead {
    font-size: $h4-font-size;
    margin-bottom: 70px;
	}

	&__btn {
		&:hover {
			color: $font-color-secondary;
      background-color: rgba(225, 225, 225, 0.4);
      border-color: $btn-border-color;
      box-shadow: 0 0 15px $bg-color-primary;
		}

		&:focus {
      background-color: rgba(225, 225, 225, 0.4);
      box-shadow: none;
		}

		&:active {
      background-color: rgba(225, 225, 225, 0.7);
		}
	}
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.link-logo {
	display: block;
	padding: 6px 9px;
	font-size: $logo-font-size;
	font-weight: 500;
	color: $font-color-secondary;
	border-radius: 25%;
	outline: none;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: -19px;
	padding-left: 0;

	&__item {
	}

	&__link {
	  position: relative;
		display: block;
		padding: 7px 15px;
		color: $font-color-secondary;
		font-weight: 500;
		outline: none;

		&:hover {
			color: $menu-hover-color;

			&:before {
			width: calc(100% - 30px); 
	    background-color: $menu-hover-color;
		  }
		}

		&:focus {
      color: $menu-hover-color;
		}

		&:active {
      color: darken($menu-hover-color, 15);
		}

		&:before {
			display: block;
			content: "";
			position: absolute;
			left: 15px;
			bottom: 0; 
			height: 2px;
		  width: 0;
		  background-color: transparent;
		  transition: 0.5s ease-in-out width, 0.5s ease-in-out background-color, 0.5s ease-in-out color;
		}
	}
}
