.header {
	background-color: $bg-color-secondary;
	background-image: url(../image/fon-header.jpg);
	background-size: cover;
	padding-top: 30px;
  height: 100vh;
  position: relative;

	&__info {
		position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
		color: $font-color-secondary;
		text-align: center;
	}

	&__title {
		font-size: $h1-font-size;
		margin-bottom: 18px;
	}

	&__lead {
    font-size: $h4-font-size;
    margin-bottom: 70px;
	}
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}

.logo {
	display: block;
	padding: 6px 9px;
	font-size: $logo-font-size;
	font-weight: 500;
	color: $font-color-secondary;
	outline: none;
}

.menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: -19px;
	padding-left: 0;

	&__item {
	}

	&__link {
	  position: relative;
		display: block;
		padding: 7px 15px;
		color: $font-color-secondary;
		font-weight: 500;
		outline: none;

		&:hover {
			color: $COLOR_PINK;

			&:before {
			width: calc(100% - 30px); 
	    background-color: $COLOR_PINK;
		  }
		}

		&:focus {
      color: $COLOR_PINK;
		}

		&:active {
      color: darken($COLOR_PINK, 15);
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 15px;
			bottom: 0; 
			height: 2px;
		  width: 0;
		  background-color: transparent;
		  transition: 0.5s ease-in-out width, 0.5s ease-in-out background-color, 0.5s ease-in-out color;
		}
	}
}
