.container {
	width: 1170px;
	padding-right: 15px;
  padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive {
	display: block;
	min-width: 100%;
	height: auto;
}

.btn {
	display: inline-block;
	min-width: 268px;
	padding: 1em 1.25em;
	font-size: $base-font-size;
	font-weight: 400;	
	line-height: 1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 10px;
	outline: none;
	box-shadow: none;
}

.title {
	font-size: $h2-font-size;
	font-weight: 700;
}

.description {
	font-size: $description-font-size;
	line-height: 1.818181;
}

.card {
  margin-bottom: 30px;
  flex: 0 0 33%;

	&__avatar {
		margin-bottom: 20px;
		border-radius: 10px;
	}

	&__name {
    font-size: $xl-font-size;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 15px;
	}

	&__position {
		display: block;
	  overflow: hidden;
	  text-overflow: ellipsis; 
	}
}

.list-cards {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;

	&__card {
	}
}

.section-contact {
	padding-top: 95px;
	padding-bottom: 105px;
	text-align: center;

	&__title {
		margin-bottom: 65px;
	}

	&__description {
		margin-left: auto;
		margin-right: auto;
		max-width: 65%;
		margin-bottom: 70px;
	}
}