.container {
	width: 1170px;
	padding-right: 15px;
  padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.img-responsive {
	display: block;
	min-width: 100%;
	height: auto;
}

.btn {
	display: inline-block;
	min-width: 268px;
	padding: 1em 1.25em;
	font-size: $base-font-size;
	font-weight: 400;	
	line-height: 1;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 10px;
	outline: none;
	box-shadow: none;
}

.title {
	font-size: $h2-font-size;
	font-weight: 700;
}

.description {
	font-size: $description-font-size;
	line-height: 1.818181;
}


.section-sponsors {
	background-color: $bg-color-primary;
	padding-top: 90px;
	padding-bottom: 112px;

	&__title {
		text-align: center;
		margin-bottom: 70px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
    list-style: none;
	}

	&__item {
		border-radius: 30%;

	  &:hover {
	    box-shadow: 0 0 10px $font-color-primary;
    }

    &:focus {
    	box-shadow: 0 0 10px $font-color-primary;
    }

    &:active {
    	box-shadow: 0 0 10px $link-active-color;
    }
	}

	&__link-sponsor {
  }

	&__logo {
    display: block;
    // max-width: 100%;
    // height: auto;
	}
}