.section-contact {
	padding-top: 95px;
	padding-bottom: 105px;

	&__title {
		margin-bottom: 65px;
		text-align: center;
	}

	&__description {
		margin-left: auto;
		margin-right: auto;
		max-width: 65%;
		margin-bottom: 70px;
		text-align: center;
	}
}

.form-contact {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 750px;
	position: relative;

	&__field {
	  padding-bottom: 10px;
	  margin-bottom: 15px;
		width: 100%;
		position: relative;
		font-size: 13px;
		line-height: 1;
		color: $form-color;
		background-color: transparent;
		border: none;
		border-bottom: 6px solid $form-color;
		outline: none;
		z-index: 1;

		&:hover {
			border-bottom: 6px solid lighten($form-color, 30);
		}

		&:focus {
		  border-bottom: 6px solid transparent;

		  & + .form-contact__caption {
        bottom: -5px;
		  }
	  }

	  &:active {
	  	border-bottom: 6px solid darken($form-color, 20);
	  }

	  &:valid + .form-contact__caption {
      bottom: -5px;
		}

    // &:not([value=""]):not(:focus):valid + .form-contact__caption {
    //   bottom: -5px;
    // }

    &:invalid:not(:placeholder-shown) + .form-contact__caption  {
      bottom: -5px;
		}

		&--message {
	  	height: 175px;
		  width: 100%;
		  resize: none;
    }
	}

	&__caption {
		display: block;
		position: absolute;
		left: 0;
		bottom: 34px;
		color: $form-color;
		font-size: 13px;
		padding-top: 7px;
		transition: 0.3s;
		z-index: 0;
	}

	&__btn {
		min-width: 150px;
		padding: 1.666666em 1.5em 1.666666em 2em;
		font-size: 12px;
		background-color: $form-color;
		color: $font-color-secondary;
		text-transform: uppercase;
		border-radius: 0;
		border: 2px solid transparent;
		position: relative;
    bottom: 0px;
    right: -220px;

    &:hover {
      color: $form-color;
      background-color: $font-color-secondary;
      border: 2px solid $form-color;
      box-shadow: 0 0 15px $form-color;
    }

    &:focus {
    	background-color: lighten($form-color, 15);
      box-shadow: 0 0 15px $form-color;
    }

    &:active {
      background-color: darken($form-color, 10);
      color: $font-color-secondary;
    }
	}
}

.wrapper-input {
	width: 40%;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: 1px solid transparent;

	&:before {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		bottom: 15px;
		height: 1px;
		width: 100%;
		background-color: transparent;
	}

	&--big {
		width: 84%;
		font-size: 0;
	}
  
	&:focus-within:before {
    background-color: $form-color;
  }
}