.section-sponsors {
	background-color: $bg-color-primary;
	padding-top: 90px;
	padding-bottom: 112px;

	&__title {
		text-align: center;
		margin-bottom: 70px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
    list-style: none;
	}

	&__item {
		border-radius: 30%;

	  &:hover {
	    box-shadow: 0 0 10px $font-color-primary;
    }

    &:focus {
    	box-shadow: 0 0 10px $font-color-primary;
    }

    &:active {
    	box-shadow: 0 0 10px $link-active-color;
    }
	}

	&__link-sponsor {
  }

	&__logo {
    display: block;
	}
}