$COLOR_WHITE: #fff;
$COLOR_PINK: #e71cb4;

$dark-grey: #444;
$black: #000000;
$dark-purple: #460340;
$light-gray: #eee;
$pale-gray: #ddd;
$dark-pink: #c60ebe;

$font-family-base: 'Poppins', 'Arial', 'Helvetica', sans-serif;
$font-family-secondary: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$line-height: 1.2;

$base-font-size: 16px;
$logo-font-size: 33.51px;
$h1-font-size: 60px;
$h2-font-size: 62px;
$h3-font-size: 36px;
$h4-font-size: 30px;
$big-font-size: 32px;
$xl-font-size: 24px;
$description-font-size: 22px;
$m-font-size: 14px;
$s-font-size: 13px;

$bg-color-primary: $COLOR_WHITE;
$bg-color-secondary: $black;
$bg-color-enumerator: $dark-purple;
$bg-color-footer: $light-gray;

$font-color-primary: $dark-grey;
$font-color-secondary: $COLOR_WHITE;
$h2-color: $COLOR-PINK;

$input-color: $dark-grey;

$btn-border-color: $pale-gray;
$btn-bg-color: $dark-pink;

// убрать. использовать из палитры.

$link-active-color: $COLOR_PINK;

$color-list-number: (1: #ffde16, 2: #ffbd9e, 3: #20c9e0, 4: #2eac66, 5: #ff6179, 6: #ffde16)


