$COLOR-WHITE: #fff;
$COLOR-PINK: #e71cb4;

$font-family-base: 'Poppins', sans-serif;
$font-family-secondary: 'Open Sans', sans-serif;
$line-height: 1.2;

$base-font-size: 16px;
$logo-font-size: 33.51px;
$h1-font-size: 60px;
$h2-font-size: 62px;
$h3-font-size: 36px;
$h4-font-size: 30px;
$big-font-size: 32px;
$xl-font-size: 24px;
$description-font-size: 22px;
$m-font-size: 14px;
$s-font-size: 13px;

$font-color-primary: #444;
$font-color-secondary: $COLOR-WHITE;
$h2-color: $COLOR-PINK;

$form-color: #555555;

$bg-color-primary: $COLOR-WHITE;
$bg-color-secondary: #0e0d1b;
$bg-color-enumerator: #460340;
$bg-color-footer: #eee;

$btn-border-color: #ddd;
$btn-bg-color: #c60ebe;

$menu-hover-color: $COLOR-PINK;

$link-active-color: $COLOR-PINK;

$color-list-number: (1: #ffde16, 2: #ffbd9e, 3: #20c9e0, 4: #2eac66, 5: #ff6179, 6: #ffde16)


