@import "variables";

@import "general";

@import "layout";

@import "page";

@import "header";

@import "section-about";

@import "section-competitors";

@import "section-sponsors";

@import "section-jury"